Repository stranske/Travel-Plan-Permission, changes with the labels that .github/labeler.yml gives for each.
All labels: type:docs, type:schema, type:policy, type:mapping, type:workflow, risk:major

Add PR Labeler workflow configuration
  .github/workflows/labeler.yml
Labels: type:workflow, risk:major

Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Enhance PR template with summary and checklist
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Create feature issue template
  .github/ISSUE_TEMPLATE/feature.md
Labels: none

Add issue template for Policy-Lite rule changes
  .github/ISSUE_TEMPLATE/policy-lite-rule.md
Labels: none

Add CI workflow for documentation and schema validation
  .github/workflows/ci.yml
Labels: type:workflow, risk:major

Add JSON schema for minimal trip plan
  schemas/trip_plan.min.schema.json
Labels: type:schema, risk:major

Add JSON schema for minimal expense report
  schemas/expense_report.min.schema.json
Labels: type:schema, risk:major

Add minimal sample trip plan JSON file
  tests/fixtures/sample_trip_plan_minimal.json
Labels: none

Add minimal sample expense report JSON
  tests/fixtures/sample_expense_report_minimal.json
Labels: none

Document spreadsheet templates and version IDs
  docs/field-mapping.md
Labels: type:docs, risk:major

docs: clarify workflow steps
  docs/workflows.md
Labels: type:docs, risk:major

chore: add ajv dev dependencies
  .github/workflows/ci.yml
  .gitignore
  package-lock.json
  package.json
Labels: type:workflow, risk:major

chore: add ajv dev dependencies
  .github/workflows/ci.yml
  .gitignore
  package-lock.json
  package.json
Labels: type:workflow, risk:major

chore: add ajv dev dependencies
  .github/workflows/ci.yml
  .gitignore
  package-lock.json
  package.json
Labels: type:workflow, risk:major

docs: add setup and validation instructions
  README.md
Labels: none

docs: detail ajv command options
  README.md
Labels: none

docs: fix markdownlint issues
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/policy-lite-rule.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/field-mapping.md
  docs/plan.md
  docs/policy-lite-checklist.md
  docs/workflows.md
Labels: type:docs, risk:major

Update docs/plan.md
  docs/plan.md
Labels: type:docs

.github/labeler.yml:

type:docs:
  - docs/**

type:schema:
  - schemas/**

type:policy:
  - policy/**

type:mapping:
  - mapping/**

type:workflow:
  - .github/workflows/**

"risk:major":
  - schemas/**
  - policy/**
  - mapping/**
  - docs/workflows.md
  - docs/field-mapping.md
  - docs/policy-lite-checklist.md
  - .github/workflows/**
